:root {
    --background: white;
    --foreground: black;
}

@font-face {
    font-family: 'CustomFont';
    src: url(LobsterTwo.woff2) format('woff2');
}

html {
    height: 100%;
    background-color: var(--background);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}

#card {
    max-width: 80%;
    color: var(--foreground);
    font-family: "CustomFont";
    font-size: 2vw;
}

#menu {
    position: absolute;
    inset: 0;
}
